@font-face { font-family: Delicious; src: url("AvenirLTStd-Book.otf"); } 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
body{
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

.pointer {
  cursor: pointer;
}
/* ===============Header================= */

.header {
  height: 79px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color:#FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 50px; */
}

.heading {
  height: 79px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  margin-left: 43px;
}

.logo {
  /* height: 18px;
  width: 92px; */
  height: 30px;
  margin-left: 35%;
  cursor: pointer;
}

.contact-us-button {
  height: 35px;
  /* width: 95px; */
  margin-right: 45.5px;
  padding: 5px 11px 4px;
  border: 0.8px solid #22282B;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #FFFFFF;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #22282B;
}

.contact-us-button{
  text-decoration: none;
  color: black;
}

.space-for-mobile-ver {
  display: none;
}

.section {
  height: calc(100vh - 79px);
  background: #FFFFFF;
}

.contact-us-button:hover, .read-more-button:hover{
  background-color: #FF6767;
  color: #22282B;
} 

/* ==================== Link buttons ============================ */
.button-back-home{
  cursor: pointer;
  text-decoration: none;
  text-transform: none;
  color: black;
}

/* ==========common throughout========== */

.grid-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

/* =============Top page================ */

.home-title {
  width: 505px;
  height: 45px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #22282B;
  margin: 0px 0px 60px
}

.home-description {
  width: 510px;
  /* height: 60px; */
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #404040;
  margin: 0px 0px 0px
}

.get-started-button{
  /* padding: 7px 22px; */
  width: 160px;
  height: 36px;
  background: #404040;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  border: 0;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
}

.get-started-button:hover{
  background: #FF6767;
  color: #22282B;
  font-weight: 400;
  cursor: pointer;
}

.home-image {
  width: 600px;
  height: 379px;
  filter: drop-shadow(0px 4px 11px rgba(0, 0, 0, 0.08));
  border-radius: 8px;
}

/* ====================About us======================== */

.about-image {
  width: 600px;
  height: 379px;
  border-radius: 15px;
}

.about-title{
  /* width: 287px; */
  height: 60px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 140%;
  color: #22282B;
  margin: 0 0 50px;
}

.about-description{
  width: 520px;
  /* height: 151px; */
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #404040;
  margin: 0px 0px 50px;
}

.read-more-button {
  padding: 7px 22px;
  width: 155px;
  height: 38px;
  background: #FFFFFF;
  border: 0.8px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  font-family:Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #22282B;
  text-decoration: none;
  text-transform: none;
}
.read-more-button a {
  color: #22282B;
  font-weight: 400;
  text-decoration: none;
}

/* ====================Mission==================== */

.mission-title{
  width: 320px;
  height: 60px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #22282B;
  margin-top: 0px;
  margin-bottom: 60px;
}

.mission-description {
  width: 520px;
  height: 151px; 
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #404040;
  margin-top: 0px;
  margin-bottom: 60px;
}

.philosophy-title {
  width: 320px;
  height: 60px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #22282B;
  margin-top: 0px;
  margin-bottom: 35px;
}

.philoshopy-image {
  border: solid 4px #FF6767
}

/* =============== Gallery Page =============== */
.section-artists{
  margin-top:70px;
}
.artists-title>h1, .section-artpiece-title>h1{
  margin-left: 7%;
}
/* =============== Art Piece =============== */
.artpiece-description{
  margin-top:-100px;
}
.section-artpiece{
  margin-top:100px;
}
.section-see-more{
  margin-top:400px;
}

/* ===============Contact Us Page================ */
.contact-us{
  margin-bottom: 150px;
}
.contact-content{
  width: 550px;
  height: 475px;
  margin:auto;
  text-align: center;
}

.contact-title{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 140%;
  text-align:left;
  font-style: normal; 
  font-weight: 400;
  font-size: 45px;
  line-height: 102.1%;
  color: black;
  margin-top: 83px;
}
.contact-content>p{
  font-family:Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align:left;
  margin-bottom:50px;
  margin-top: -10px;
}

.contact-wrapper{
  width: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center; 
  align-items: center;
  margin: auto;
}

.contact-email{
  grid-column-start: 1;
  grid-column-end: span 2;
}

.contact-message{
  grid-column-start: 1;
  grid-column-end: span 2;
  height: 180px !important;
  margin-bottom: 30px;
}

.contact-form input, .contact-wrapper textarea{
  /* min-width: 300px; */
  height: 36px;
  border: 1px solid black;
  border-radius: 5px;
}
.contact-form input{
  text-align:center;
}

.contact-form input::placeholder{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: black;
  text-align: center;
}
.contact-wrapper textarea{
  resize: none;
  font-family:Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-top: 10px;
  padding-left: 10px;
}
.contact-message::placeholder{
  font-family:Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: black;
}

.contact-button{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  float:right;
  color:#FFFFFF;
  width: 150px;
  height: 38px;
  background-color: #404040;
  border: 1px solid #404040  ;
  border-radius: 5px;
  cursor: pointer;
}

.contact-button:hover{
  background-color: #FF6767;
  border: 1px solid #22282B;
  color: black;
  
}

/* ===============Footer================ */

.footer{
  text-align: center;
  color:#FFFFFF;
  background-color: #22282B;
  height: 262px;
  margin-top: 200px;
  width:100%;
}

.footer-wrapper{
  max-width:100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* margin-right: 10px;
  margin-left: 10px; */
}

.column-left {
  margin-left: -10vw;
}

.column-right{
  /* margin-right: 48vw; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.footer h2 {
  font-family:Nunito Sans;
  font-style: normal;
  text-transform:uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  color: #FFFFFF;
  margin-top: 17px;
  margin-bottom: 15px;
  
}

.footer p{
  font-family:Nunito Sans;
  font-style: normal;
  font-weight:400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin: 0px;
  cursor: pointer;
}

.footer a{
  color: white;
  transform: none;
  text-decoration: none;
}

.link{
  width: 1139px;
  border-top: 1px solid #FFFFFF;
  margin: 42px auto 34px 150px;
}

i.fab, i.far{
  width: 42.71px;
  height: 35px;
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 50%;
  padding-top: 10px;
  margin-top: 15px;
}

i.fab {
  margin-right: 33px;
}

.fab, .far{
  font-size: 22px;
}

.icon-footer:hover{
  color: #FF6767;
}

/* =============== Carousel ================ */
.carousel-container {
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  margin-bottom:400px;
  margin-top: 58px;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
  /* margin-left:15%; */
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}
.left-arrow, .right-arrow {
position: absolute;
z-index: 1;
top: 40%;
/* margin-top:15%; */
transform: translateY(-50%);
width: 48px;
height: 48px;
color:white;
border: none;
/* background-color: transparent; */
font-size: 40px;
/* border-radius: 24px; */
background-color: rgba(0, 0, 0, 0.26);
/* border: 1px solid #ddd; */
}
.section-artpiece>.carousel-container>.carousel-wrapper>button{
  top: 50%;
}
.left-arrow {
left: 20px;
}

.right-arrow {
right: 20px;
}

.carousel-content.show-2 > * {
width: 50%;
}

.carousel-content.show-3 > * {
width: calc(100% / 3);
}

.carousel-content.show-4 > * {
width: calc(100% / 4);
}

.carousel-artists-img{
  padding: 18px;
}
.carousel-artists-img>img{
  width: 100%;
  border-radius: 50%;
}
.carousel-artists-img>p{
  text-align: center;
  margin-top: 55px;
  font-size: 18px;
  font-family: 'Avenir';
  font-weight: 400px;
  color: #404040;
}
.carousel-artpiece-img{
  padding: 18px;

}
.carousel-artpiece-img>a>img{
  max-width: 100%;
  /* margin-right: 60px; */
}
.carousel-artpiece-img>img{
  max-width: 100%;
  /* margin-right: 60px; */
}
/* =============== Responsiveness ================ */
@media screen and (max-width: 1220px) {
  .header{
    margin-bottom:50px;
  }
  .hr-home{
    margin-top: -5vw;
    margin-bottom: 17.5vw;
  }
  .hr-philosophy{
    margin-top: 0vw;
    margin-bottom: 13vw;
  }
  .hr-who-we-serve{
    margin-top: -3.4vw;
    margin-bottom: 14vw;  
  }
  .grid-two-columns {
    grid-template-columns: minmax(300px, 1fr);
  }
  .medium-description{
    margin-bottom:3vw;
  }
  .section {
    margin-bottom: 180px;
  }
  .gallery-description, .artpiece-description{
    margin-top:500px;
  }
  .artpiece-description{
    margin-top:500px;
  }
  .gallery-description-image, .artpiece-description-image, .artpiece-description-image{
    width:80%;
    margin-bottom: 300px;
    margin-left:5%;
  }
  .section-artists{
    width:100%;
    margin-top:300px;
    margin-bottom:-180px;
  }
  .mission-description-wrapper {
    order: 2;
  }
  .mission-image {
    order: 3;
  }
  .philoshopy-image{
    margin-top:30px
  }

  .artists-title>h1, .section-artpiece-title>h1{
    margin-left: 25%;
  }
}
@media screen and (max-width: 1200px) {

/* .hr-home{
  margin-top: -5vw;
  margin-bottom: 17.5vw;
} */
}

@media screen and (max-width: 770px) {
  .hr-philosophy{
    margin-top: 15vw;
    margin-bottom: 10vw;
  }
  .hr-who-we-serve{
    margin-bottom: 8vw;
  }
  .mission-description-wrapper{
    margin-top:25vw;
    margin-bottom:10vw;
  }
  .section-philosophy{
    margin-bottom: 43vw;
  }
  .section-who-we-serve{
    margin-top:20vw;
  }
  .section-medium{
    margin-top:15vw;
    margin-bottom:39vw;
  }

  .carousel-artists-img>img{
    width:50%;
    margin-left: 20%;
  }
  .carousel-artists-img>p{
    margin-left:-12%;
  }
  .right-arrow {
    right: 15%;
  }
  .left-arrow {
    left: 6.5%;
  }
  .artists-title>h1, .section-artpiece-title>h1{
    margin-left: 10%;
  }
  .carousel-artpiece-img>a>img{
    width:75%;
    margin-left:8%;
  }
  .section-artpiece>hr{
    margin-top:150px;
  }
  .footer{
    margin-top: -100px;
    height:250px;
  }
  .footer h2{
    font-size: 18px;
  }
  .footer p{
    font-size: 16px;
  }

}

@media screen and (max-width: 600px) {
  body{
    overflow-x: hidden;
  }
  .header{
    margin-bottom:50px;
    width:100vw;
    justify-content: space-between;
  }
  .space-for-mobile-ver{
    width: 25vw;
    display: block;
  }
  .hr-philosophy{
    margin-top: 25vw;
    margin-bottom: 2vw;
  }
  .hr-who-we-serve{
    margin-bottom: 8vw;
  }
  .hr-medium{
    margin-top:30vw;
  }
  .home-images-wrapper{
    margin-left:8%;
  }
  .gallery-description-image{
    margin-left:5%;
  }
  .gallery-description{
    margin-top:220px;
  }
  .artpiece-description{
    margin-top:280px;
  }
  .home-description, .about-description, .mission-description, .gallery-description, .artpiece-description{
    width:85vw;
  }
  .section-philosophy{
    margin-bottom:41vw !important;
  }
  .section-who-we-serve{
    margin-top:8vw;
  }
  .philosophy-description{
    margin-bottom:30vw;
  }
  .home-title{
    width: 100%;
  }
  .section {
    padding:15vw;
    margin-bottom:50px;
    /* margin-left:-5%; */
  }
  .home-left{
    margin-left:100px;
  }

  .grid-two-columns{
    max-width:100vw;
  }
  .contact-us-button, .home-image2{
    display:none;
  }

  .section-mission {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .section-medium{
    margin-top:8vw;
  }
  .mission-description-wrapper {
    order: 2;
  }
  .medium-description {
    margin-bottom:130px;
  }
  .mission-image {
    order: 3;
    width: 85%;
  }

  .home-image {
    width: 85%;
  }

  .about-image{
    width: 85%;
  }
  
  .footer{
    margin-top: -100px;
    height:200px;
  }
  .column-right{
    margin-left: -10vw;
    padding-right: 10vw;
  }
  .footer-wrapper>div>h2, .footer-wrapper>div>div>h2{
    font-size: 18px;
    padding-left: 25px;
  }
  .footer-wrapper>div>p, .footer-wrapper>div>div>p{
    font-size: 16px;
    padding-left: 15px;
  }
  .section-artists, .section-artpiece{
    margin-left:0px;
    padding:0;
    margin-top: 50px;
  }
  .section-artpiece>hr{
    margin-top:-100px;
  }
  .section-see-more{
    margin-top:250px;
  }
  .section-artpiece, .section-see-more{
    margin-bottom:200px;
  }
  .contact-content, .contact-wrapper{
    width: 75vw;
    margin-top:-20px;
  }
  .contact-content{
    margin-bottom: 60vw;
  }
}

@media screen and (max-width: 540px) {
  .hr-home {
    margin-top: 15vw;
    margin-bottom: 30vw;
  }
  .section-philosophy {
    margin-bottom: 60vw !important;
  }
  .hr-philosophy {
    margin-bottom: 20vw;
  }
  .section-who-we-serve {
    margin-bottom: 28vw !important;
  }
  .medium-description {
    margin-bottom: 17vw;
  }
  .mission-description-wrapper {
    margin-bottom: 0vw;
  }
  .philosophy-description-wrapper {
    margin-bottom: 30vw;
  }
  .hr-medium {
    margin-top: 35vw;
  }
}

@media screen and (max-width: 450px) {
  body{
    overflow-x: hidden;
  }
  .read-more-button {
    margin-top: 25vw;
    margin-bottom: 10vw;
  }
  .header{
    margin-bottom:20vw;
    max-width:100vw;
  }
  .space-for-mobile-ver{
    width: 35vw;
    display: block;
  }
  .logo{
    margin-right:-12vw;
  }
  .home-section {
    margin-top: 20vw;
    margin-bottom: 10vw;
    margin-left: 7vw;
  }
  .home-description, .about-description, .mission-description{
    width:85vw;
  }
  .home-title{
    width: 100%;
  }
  .hr-home{
    margin-top:10vw;
    margin-bottom: -5vw;
  }
  .philosophy-description{
    margin-bottom:80vw;
  }
  
  .section-philosophy{
    margin-top:55vw;
    margin-bottom: 30vw !important;
  }
  .philoshopy-image{
    margin-top:45vw;
  }
  .hr-philosophy{
    margin-top: 78vw;
  }
  .hr-who-we-serve{
    margin-top: 40vw;
  }
  .hr-medium{
    margin-top:47vw;  
  }
 
  .section-who-we-serve{
    margin-top:40vw;
  }
  .section-medium{
    margin-top:20vw;
  }
  .section {
    padding:15vw;
    margin-bottom:80px;
    /* margin-left:200px; */
  }
  .home-left{
    margin-left:100px;
  }
  .medium-description {
    margin-bottom:19vw;
  }
  .grid-two-columns{
    max-width:100vw;
    margin-bottom:50px;
  }
  .contact-us-button, .home-image2{
    display:none;
  }
  .section-mission {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .mission-description-wrapper {
    order: 2;
    margin-bottom: 0vw;
  }
  .mission-image {
    order: 3;
    /* width: 150vw; */
  }

  .home-image {
    width: 300px;
    height: 300px;
    margin-bottom: 160px;
  }

  .about-image{
    width: 300px;
    height: 300px;
  }
 
  .footer{
    margin-top: -100px;
    height:850px;
  }
  .column-left{
    margin-left:0px;
    margin-bottom: -20px;
  }
  .footer-wrapper{
    padding-top: 50px;
    padding-left: 0px;
    max-width:100vw;
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer-wrapper>div{
    margin-top:50px;
  }
  .footer-wrapper>div>h2{
    font-size: 20px;
    padding-left: 0px;
  }
  .footer-wrapper>div>p, .footer p{
    font-size: 18px;
    padding-left: 0px;
  }
  .section-artists, .section-artpiece{
    margin-left:0px;
    padding:0;
    margin-top: 100px;
  }
  .section-artpiece>hr{
    margin-top:-200px;
  }
  .gallery-description-image{
    margin-left:9%;
  }
  .carousel-artpiece-img>a>img{
    margin-left:12%;
  }
  .carousel-artists-img>img{
    margin-left:24.5%;
  }
  .left-arrow{
    left:14%;
  }
  .section-see-more{
    margin-top:450px;
  }
  .section-artpiece, .section-see-more{
    margin-bottom:150px;
  }
  .contact-content, .contact-wrapper{
    width: 80vw;
    grid-template-columns: 40vw 40vw;
    grid-gap: 5px;
    margin-top:-20px;
    min-width: 0px;
  }
  .contact-content{
    margin-bottom: 60vw;
  }
  .who-we-serve-columns{
    margin-bottom: 20vw !important;
  }
}

@media screen and (max-width: 420px) {
  .philoshopy-image {
    margin-top: 55vw;
  }
  .who-we-serve-image, .medium-image {
    margin-top: 13vw;
  }
}


@media screen and (max-width: 380px) {
  .logo{
    margin-right: -14vw;
  }
  .header{
    margin-bottom: 40vw;
  }
  .home-section{
    margin-top: -10vw;
    margin-bottom:50px
  }
  .home-title{
    margin-top:50px;
    margin-bottom:80px
  }
  .home-image{
    margin-bottom: 160px;
  }
  .hr-home{
    margin-top:25vw;
    margin-bottom: 45vw;
  }
  .home-images-wrapper {
    margin-bottom: -40vw;
  }
  .section-who-we-serve{
    margin-top:50vw;
    margin-bottom:15vw !important;
  }
  .about-description{
    margin-bottom:20vw;
  }
  .read-more-button {
    margin-top: 10vw;
    margin-bottom: 10vw;
  }
  .section-philosophy{
    margin-top:30vw;
  }
  .philosophy-description{
    margin-bottom:200px
  }
  .philoshopy-image{
    margin-top:210px;
  }
  .hr-philosophy{
    margin-top:340px;  
  }
  .hr-who-we-serve{
    margin-top:48vw;  
  }
  .hr-medium{
    margin-top:70vw;  
  }
  .section-medium{
    margin-top:20vw;
  }
  .mission-description-wrapper{
    margin-top:190px;
    margin-bottom: 2vw;
  }
  .medium-description{
    margin-bottom:34vw;
  }
  .about-image{
    width: 300px;
    height: 300px;
  }
 
  .gallery-description{
    margin-top:400px;
  }
  .section-artists, .section-artpiece{
    margin-left:0px;
    padding:0;
    margin-top: 250px;
  }
  .section-artists>hr{
    margin-top:250px;
  }
  .section-artpiece>hr{
    margin-top:-300px;
  }  
  .gallery-description-image{
    margin-left:10%;
  }
  .carousel-artists-img>img{
    margin-left:24.5%;
  }
  .carousel-artists-img, .carousel-artists-img>p{
    margin-left:-10px;
  }
  .artpiece-description{
    margin-top:465px;
  }
  .section-see-more{
    margin-top:650px;
  }
  .section-artpiece, .section-see-more{
    margin-bottom:150px;
  }
  .grid-two-columns{
    margin-bottom:0px;
  }
  .contact-content, .contact-wrapper{
    width: 80vw;
    grid-template-columns: 40vw 40vw;
    grid-gap: 5px;
    margin-top:-20px;
    min-width: 0px;
  }
  .contact-content{
    margin-bottom: 60vw;
  }
  .contact-us{
    margin-top: -100px;
  }
  .footer-wrapper{
    padding-left: 0px;
  }
  .footer-wrapper>div>h2{
    font-size: 20px;
    padding-left: 0px;
  }
  .footer-wrapper>div>p, .footer p{
    font-size: 18px;
    padding-left: 0px;
  }
}

/* @media only screen and (orientation:landscape) {
  body {
    height: 100vw;
    /* width: 100vh; */
    /* transform: rotate(90deg); */
  /* } */
/* }  */


@media only screen and (pointer: coarse) and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: auto;
    position: absolute;
    top: 100%;
    left: 0;
  }
}