.radio{
display: inline-flex;
align-items: center;
cursor: pointer;
position: relative;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
margin-top: 1px;
}
.radio__input{
display:none;
}
.radio__radio{
width: 14px;
height: 14px;
border: 1px solid #FF6767;
border-radius: 50%;
margin-right: 5px;
margin-bottom: 1px;
}

.radio__radio::before{
content:"";
width:90%;
height:90%;
border: 0.5px solid #FF6767;
border-radius:50%;
display:block;
background-color: #FF6767;
transform: scale(0);
}

.radio__input:checked + .radio__radio::before{ 
transform: scale(1.2);    
 }