 .medium-button {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index:11;
  top:32px;
  margin-top: 0px;
  padding-top: 20px;
  font-size: 14px;
  font-weight: 500;
  margin-left: 50px;
  font-family: Nunito Sans;
  color: #22282B;
}
.medium-button>a{
  text-decoration: none;
  text-transform: none;
  color: #22282B;
}

.medium-title {
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
  font-family: Playfair Display;
  font-size: 50px;
  font-weight: 400;
  color: #FF6767;
}

.medium-subtitle {
  margin-top: 65px;
  margin-bottom: 43px;
  font-family: Playfair Display;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  color: #FF6767;
  text-transform: capitalize;
  margin-left: 10vw;
}

.medium-columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.medium-columns div:nth-child(1) {
  margin-left: 10vw;
}

.medium-columns div:nth-child(2) {
  margin-right: 10vw;
}

.medium-columns p {
  font-family:Nunito Sans;
  font-weight: 400;
  font-size: 18px;
  color: #22282B;
  text-align: justify;
}

@media screen and (max-width: 768px) {

  .medium{
    margin-top:-50px;
  }
  .medium-columns{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    margin: 0 10vw;
  }

  .medium-subtitle {
    margin: 30px 10vw 12px;;
  }

  .medium-columns div:nth-child(1) {
    margin-left: 0px;
  }
  
  .medium-columns div:nth-child(2) {
    margin-right: 0px;
  }

  .medium-second-column{
    margin-bottom:200px;
  }

}

@media screen and (max-width: 460px) {
  .medium-button {
      text-align: right;
      margin-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .medium-subtitle {
    font-size: 22px;
  }
}

@media screen and (max-width: 380px) {
  .medium{
    margin-top:-40vw;
  }
}
