#menuToggle{
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a{
  text-decoration: none;
  color: #000000;
}

#menuToggle a:hover{
  color: #FF6767;
}

#menuToggle > p {
  font-weight: 900;
  /* padding-left: 45px; */
  margin-left: 40px;
  border-top: solid;
  border-bottom: solid;
  height: 8px;
}

#menuToggle > p:hover {
  cursor: pointer;
}

ul {
  margin: 0;
}

#menu{
  position: absolute;
  top: 79px;
  height: calc(100vh - 79px);
  width: 100vw;
  background: #FFFFFF;
  list-style-type: none;
}


.menu-grid{
  display: grid;
  grid-template-columns: 10fr 10fr 10fr 10fr 1fr 12fr 5fr;
}

.menu-grid h1{
  font-family: Playfair Display;
  font-size: 24px;
  font-weight: 400;
}

.menu-grid p{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}

.menu-left {
  margin: auto 0;
}

.menu-left p {
  width: 169px;
}

.vertical-line{
  height: 210px;
  border-left: 1.5px solid #22282B;
  margin: auto;
}

.menu-right {
  margin: auto 0;
  text-align: center;
}

.menu-right img{
  width: 120px;
  margin-bottom: 20px;
}

.menu-right p {
  width: 145px;
  margin: auto;
}

@media screen and (max-width: 1020px) {
  .menu-grid {
    display: grid;
    grid-template-columns: 10fr 10fr 10fr 10fr 0.1fr 3fr;
  }
  
  .vertical-line {
    display: none;
  }

  .menu-right {
    display: none
  }

}


@media screen and (max-width: 800px) {
  .menu-grid {
    display: block;
    grid-template-columns: 1fr;
    width: 100vw;
  }

  #menu {
    width: 100vw;
    padding-left: 0px;
  }

  .menu-left p {
    display: none;
  }

  .menu-grid div:nth-child(1){
    margin-top: 80px;
  }

  .close-button {
    display: none;
  }

  .menu-left h1 {
    text-align: center;
  }
}


