
#subscribe {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  margin-top: 10vw;
}


.subscribe-content{
  background-color: #FFFFFF;
  width: 41vw;
  height: 41vw;
  border: solid 4px #FF6767 ;
  border-radius: 50%;
  margin:auto;
  text-align: center;
}

.subscribe-title{
  font-family: Playfair Display;
  font-style: normal; 
  font-weight: 700;
  /* font-size: 64px; */
  font-size: 4.2vw;
  line-height: 102.1%;
  color: #FF6767;
  /* margin-top: 100px; */
  margin-top: 10%;
  margin-bottom: 5%;
}

.subscribe-content-text{
  font-family:Nunito Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #FF6767;
}

.subscribe-content-text p {
  width: 344px;
  margin: 0px auto;
}

.i-am-a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 102.1%;
  margin-top: 5%;
  margin-bottom: 3%;
  
}

.subscribe-form {
  display: grid;
  justify-items: center;
}

.subscribe-name-wrapper{
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 12px;
  justify-content: center; 
  align-items: center;
  margin-top: 6%;
}

.subscribe-gallery-name-wrapper{
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 12px;
  justify-content: center; 
  align-items: center;
  margin-top: 6%;
}

.subscribe-email, .subscribe-gallery-name{
  grid-column-start: 1;
  grid-column-end: span 2;
}

.subscribe-form input{
  -webkit-appearance: none;
  /* min-width: 160px; */
  height: 33px;
  padding: 0px;
  border: 1px solid #FF6767;
  background-color: #FFFFFF;
  border-radius: 5px;
  text-align:center
}

.subscribe-form input::placeholder{
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FF6767;
  text-align: center;
}

.subscribe-button{
  grid-column-start: 1;
  grid-column-end: span 2;
  height: 38px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #404040;
  border: 1px solid #404040;
  border-radius: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
}

.subscribe-button:hover{
  background-color: #FF6767;
  border: 1px solid #FF6767;
  color: #22282B;
}
.unsubscribe-note{
  grid-column-start: 1;
  grid-column-end: span 2;
  font-size: 13px;
}
.subscribe-message{
  margin-top:5px;
  color:#FF6767;
}
/* .unsubscribe-instructions{
  margin-top:30px;
} */

@media screen and (max-width: 1220px) {
  .subscribe-content{
    width: 50vw;
    height: 50vw;
  }
}

@media screen and (max-width: 1000px) {
  .subscribe-content{
    width: 55vw;
    height: 55vw;
  }

  .subscribe-name-wrapper{
    grid-gap: 6px;
  }
  
  .subscribe-gallery-name-wrapper{
    grid-gap: 6px;
  }
}

@media screen and (max-width: 890px) {
  .subscribe-content{
    width: 60vw;
    height: 60vw;
  }
}

@media screen and (max-width: 800px) {
  .subscribe-content{
    width: 73vw;
    height: 73vw;
  }

  .subscribe-first-name {
    width: 95%;
    margin: 0 0 0 auto;
  } 

  .subscribe-last-name {
    width: 95%;
    margin-left: 0;
  } 
  
  .subscribe-button, .subscribe-email, .subscribe-gallery-name{
    width: 95%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 660px) {
  p.unsubscribe-note{
    width: 80%;
  }
  .subscribe-message{
    font-size: 14px;
    margin-top:-10px;
  }
}

@media screen and (max-width: 600px) {
  .section {
    padding: 10vw;
  }
  p.unsubscribe-note{
    width: 80%;
    font-size: 12px;
  }
  .subscribe-message{
    font-size: 13px;
    margin-top:-13px;
  }
  .subscribe-name-wrapper{
    margin-top: 6%;
  }
  
  .subscribe-gallery-name-wrapper{
    margin-top: 6%;
  }

  .subscribe-title{
    font-size: 6vw;
    margin-top: 10%;
  }

  .subscribe-content-text>p{
    max-width:82%;
  }  

  .i-am-a {
    font-size: 20px;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .subscribe-name-wrapper{
    margin-top: 4%;
  }
  
  .subscribe-gallery-name-wrapper{
    margin-top: 4%;
  }
  
  .subscribe-first-name {
    width: 75%;
  }

  .subscribe-last-name {
    width: 75%;
  }
  
  .subscribe-button, .subscribe-email, .subscribe-gallery-name{
    width: 75%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .section {
    padding: 1px;
  }

  .subscribe-content{
    width: 80vw;
    height: 80vw;
    margin-top:0px;
  }

  
}

@media screen and (max-width: 460px) {

  body, html {
    overflow-x:hidden;
    min-height:100%;
  }
  #subscribe {
    margin-top: 30vw;
    margin-bottom: 60vw;
  }
  .subscribe-content{
    min-width: 135vw;
    height: 135vw;
    /* margin:auto; */
  }

  .subscribe-title{
    font-size: 64px;
    margin-bottom: 20px;
  }

  .i-am-a {
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 25px;
  }


  .subscribe-name-wrapper{
    width: 90vw;
    margin-top: 30px;
  }
  
  .subscribe-gallery-name-wrapper{
    width: 90vw;
    margin-top: 30px;
  }

  .subscribe-name{
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .subscribe-first-name, .subscribe-last-name {
    width: 100%;
    padding: 0 10px;
  }

  .subscribe-email, .subscribe-gallery-name, .subscribe-button {
    width: 100%;
  }

}

@media screen and (max-width: 380px) {
  .subscribe-content{
    min-width: 165vw;
    height: 165vw;
  }
}
