.who-we-serve-section {
  height: calc(100vh - 79px);
  background: #FFFFFF;
}

.who-we-serve-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.who-we-serve-columns div:nth-child(1){
  /* margin-left: 170px; */
  margin-left: 10vw;
}

.who-we-serve-columns div:nth-child(2){
  /* margin-right: 170px; */
  margin-right: 10vw;
}

.who-we-serve-button {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index:11;
  top:32px;
  margin-top: 0px;
  padding-top: 20px;
  font-size: 14px;
  font-weight: 500;
  margin-left: 50px;
  font-family: Nunito Sans;
  color: #22282B;
}
.who-we-serve-button>a{
  text-decoration: none;
  text-transform: none;
  color: #22282B;
}

.gallerist-title {
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
  font-family: Playfair Display;
  font-size: 50px;
  font-weight: 400;
  color: #FF6767;
}

.collector-title, .artist-title{
  padding-top: 64px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-family: Playfair Display;
  font-size: 50px;
  font-weight: 400;
  color: #FF6767
}

.who-we-serve-subtitle {
  margin-top: 65px;
  margin-bottom: 0px;
  font-family: Playfair Display;
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  color: #FF6767;
  margin-left: 10vw;
}

.space-for-second-column {
  margin-top: 65px;
  color: white;
}

.who-we-serve-columns p{
  margin-top: 43px;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 18px;
  color: #22282B;
  text-align: justify;
}

.who-we-serve-columns #p1{
  margin-top: -43px;
  text-indent: 88.5%;
}
.who-we-serve-columns #p2{
  margin-top: -43px;
  text-indent: 90%;
}





@media screen and (max-width: 1410px) {
  .who-we-serve-section{
    height: unset;
  }
}

@media screen and (max-width: 768px) {

  .who-we-serve{
    margin-top:-50px;
  }

  .who-we-serve-section{
    height: unset;
  }

  .who-we-serve-subtitle {
    margin-top: 30px;
  }

  .who-we-serve-columns{
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  margin: 0 10vw;
  }

  .who-we-serve-columns div:nth-child(1){
    margin-left: 0px;
  }
  
  .who-we-serve-columns div:nth-child(2){
    margin-right: 0px;
  }

  .space-for-second-column {
    display: none;
  }

  .who-we-serve-columns p{
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: Avenir;
    font-weight: 400;
    font-size: 18px;
  }
  .who-we-serve-artist-wrapper{
    margin-bottom:200px;
  }
}

@media screen and (max-width: 600px) {
  .who-we-serve-subtitle {
    font-size: 22px;
  }
}

@media screen and (max-width: 460px) {
  .who-we-serve-button {
      text-align: right;
      margin-right: 20px;
  }

  .section-who-we-serve, .section-philosophy, .section-medium{
    margin-bottom:30vw;
  }

}

@media screen and (max-width: 380px) {
  .who-we-serve{
    margin-top:-40vw;
  }
}


